.current-day-data {
  list-style-type: none;
  padding: 0;
}
.cityForm {
  padding: 30px 0 30px 0;
}

.weather-app-wrapper {
  max-width: 550px;
  margin: 20px auto;
}

.weather-app {
  border: solid;
  border-width: medium;

  padding: 20px;
}
.units {
  font-size: 15px;
  position: relative;
  top: -15px;
}
.curren-temperature {
  font-size: 40px;
  font-weight: bold;
}
.weather-icon {
  font-size: 30px;
}
.open-source {
  font-style: italic;
  font-size: 12px;
  margin-top: 15px;
  max-width: 550px;
}
#celsius-link {
  color: black;
  text-decoration: none;
}

#fahrenheit-link {
  color: black;
  text-decoration: none;
}
