.currentDaydata {
  list-style-type: none;
  padding: 0;
}
.cityForm {
  padding: 30px 0 30px 0;
}
.currentDaydata {
  padding: 0 0 30px 0;
}
.container {
  border: solid;
  border-width: medium;
  max-width: 500px;
  padding-bottom: 30px;
  margin: 20px auto;
}
.units {
  font-size: 15px;
  position: relative;
  top: -15px;
}
.curren-temperature {
  font-size: 40px;
  font-weight: bold;
}
.weather-icon {
  font-size: 30px;
}
